.erreur {
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 50px 0px 50px 1px;
}

.erreur p {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
  text-align: left;

}

.erreur NavLink {
  color: #FF6060;
}

.erreur img {
  width: 597px;
  height: 263px;
}

.erreur a {
  font-size: 24px;
  color: #FF6060;
}

.activeLink {
  text-decoration: underline !important;
}