/* Style pour un élément avec la classe "erreur" */
.erreur {
  background: #FFFFFF; /* Arrière-plan blanc */
  display: flex; /* Utilise la mise en page Flexbox */
  justify-content: center; /* Centre le contenu horizontalement */
  flex-direction: column; /* Arrange les éléments verticalement */
  align-items: center; /* Centre le contenu verticalement */
  gap: 50px; /* Ajoute un espacement vertical entre les éléments enfants */
  margin: 50px 0px 50px 1px; /* Définit les marges (haut, droite, bas, gauche) */
}

/* Style pour les éléments <p> à l'intérieur de la classe "erreur" */
.erreur p {
  color: #FF6060; /* Couleur du texte en rouge (#FF6060) */
  font-family: Montserrat; /* Utilise la police Montserrat */
  font-size: 36px; /* Taille de police de 36 pixels */
  font-weight: 500; /* Poids de la police (relativement gras) */
  text-align: center; /* Aligne le texte au centre */
}

/* Style pour les éléments "NavLink" à l'intérieur de la classe "erreur" */
/* Remarque : Le sélecteur devrait probablement être ".erreur .NavLink" avec un point avant "NavLink" */
.erreur NavLink {
  color: #FF6060; /* Couleur du texte en rouge (#FF6060) */
}

/* Style pour les éléments <img> à l'intérieur de la classe "erreur" */
.erreur img {
  max-width: 597px; /* Définit une largeur maximale pour les images */
  width: 80%; /* Définit la largeur à 80 % de la largeur du conteneur parent */
  height: 80%; /* Définit la hauteur à 80 % de la hauteur du conteneur parent */
}

/* Style pour les éléments <a> à l'intérieur de la classe "erreur" */
.erreur a {
  font-size: 24px; /* Taille de police de 24 pixels */
  color: #FF6060; /* Couleur du texte en rouge (#FF6060) */
}

/* Style pour les éléments avec la classe "activeLink" */
.activeLink {
  text-decoration: underline !important; /* Souligne le texte avec priorité "important" */
}

/* Requête média pour les écrans avec une largeur maximale de 500px */
@media (max-width: 500px) {
  /* Ajuste la taille de police des éléments <p> */
  .erreur p {
    font-size: 18px; /* Taille de police de 18 pixels */
  }
  /* Ajuste la taille de police des éléments <a> */
  .erreur a {
    font-size: 14px; /* Taille de police de 14 pixels */
  }
}
