.erreur {
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 50px 0px 50px 1px;
}

.erreur p {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}

.erreur NavLink {
  color: #FF6060;
}

.erreur img {
  max-width: 597px;
  width: 80%;
  height: 80%
}

.erreur a {
  font-size: 24px;
  color: #FF6060;
}

.activeLink {
  text-decoration: underline !important;
}

@media (max-width: 500px) {
  .erreur p {
    font-size: 18px;
  }
  .erreur a {
    font-size: 14px;
  }
}