/* un conteneur flexible avec une direction de colonne. */
.location {
    display: flex;
    flex-direction: column;
}

.location h2 {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: 0em;
}

/* classe "info" à l'intérieur de l'élément avec la classe "location".
 Il configure ces éléments comme des conteneurs flexibles avec
 un espacement entre les enfants, une couleur de texte spécifique, et plus. */
.location .info {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    color: #FF6060;
}
.location .info h1 {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}

.location .info h2 {
    text-align: left;
    margin: 0;
}

/* des conteneurs flexibles avec une direction de ligne,
 un alignement des éléments et d'autres styles. */
.location .profil {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: right;
}

.location .profil h2 {
    text-align: right;
}

.location .profil img {
    border-radius: 32px;
    height: 64px;
    width: 64px;
}

/* configure ces éléments pour occuper 50% de l'espace disponible. */
.location .mid {
    flex-basis: 50%;
}

@media (max-width: 500px) {
    .location .info {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .location .rateprof{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .location .info{
        gap: 10px
    }

    .location .subinfo{
        margin-top: 20px;
    }

    .location .info h1 {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 10px;
    }

    .location h2 {
        font-size: 14px;
        line-height: 20px;
    }
}