.banner {
  background-repeat: no-repeat;
  /* Évite la répétition de l'image */
  background-position: center center;
  /* Centre l'image horizontalement et verticalement */
  background-size: cover;
  text-align: center;
  border-radius: 25px;
  height: 223px;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 500;
  color: #FFFFFF;
}

@media (max-width: 500px) {
  .title {
    font-size: 24px;
  }

  .banner {
    justify-content: flex-start;
    padding-left: 10px;
    margin-top: 0;
  }
}