.cardgrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -8px; 
  }
  
  .card {
    background-color: #7224a5;
    color: #8a2424;
    padding: 20px;
    text-align: center;
    border: 1px solid #0b0b0b;
    border-radius: 8px;
    flex: calc(33.33% - 16px);
    margin: 8px; 
    box-sizing: border-box;
  }
