.collapse {
  display: block;
}

.collapse .entete {
  background: #FF6060;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.collapse .collapse-container {
  border: 1px solid #ccc;
  padding: 16px;
}

.collapse .collapsed-content {
  display: none;
}
