/* Styles de base pour les éléments communs à toutes les pages */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Styles pour les écrans de petite taille (max-width: 768px) */
@media (max-width: 768px) {
  header {
    padding: 5px;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  .main-content {
    padding: 10px;
  }
}

/* Styles pour les écrans de grande taille (ordinateurs de bureau) (min-width: 1025px) */
@media (min-width: 1025px) {
  nav ul li {
    margin-right: 30px;
  }
  
  .main-content {
    padding: 30px;
  }
}
