body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: blanchedalmond; 
  border: 1px solid rgb(15, 16, 15);
  padding: 20px; 

  max-width: 1025px;
  margin: 0 auto;

}


/* Styles pour les en-têtes */
header {
  background-color: #e61190;
  color: #fff;
  padding: 10px;
}

/* Styles pour les liens de navigation */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

/* Styles pour les écrans de petite taille (max-width: 768px) */
@media (max-width: 768px) {
  header {
    padding: 5px;
  }
  
  nav ul li {
    margin-right: 10px;
  }
}

/* Styles pour les écrans de grande taille (ordinateurs de bureau) (min-width: 1025px) */
@media (min-width: 1025px) {
  nav ul li {
    margin-right: 30px;
  }

}
